{% extends 'base.html' %}
{% block base_head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integri="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div class="container">
	<div class='row'>
		<div class="col-12 col-md-6">
			<h1>{{ object.title }}</h1><br>
			<h4>{{ object.description }}</h4><br>
			{% if object.image %}
			<img src="{{ object.image.url }}">
			{% endif %}
		</div>
		<div class="col-12 col-md-6">
			{% include 'products/snippets/update-cart.html' with product=object cart=cart %}
		</div>	
	</div>
</div>
{% endblock %}